[Unit]
Description=Download listener
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/matias/BashScripts/DownloadsListener.sh
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=graphical-session.target
